# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IntelliJ
.idea/

# Exclude inputs
**/*.txt

# Binaries
*.bin
**/run.build/

src/*
!src/*.nim
!src/*.py
